
<p>
  Data reuse saves time and accelerates the pace of scientific discovery. By making your data open and available to others, 
  you make it possible for future researchers to answer questions that haven’t yet been asked. 
  But <strong>how do you actually reuse the data that you put in repositories?</strong> 
</p>
<p>  
  This is a 4 hour workshop tailored to the ocean sciences. 
  We aim to teach the basics of data reuse using ERDDAP servers maintained 
  by ocean science specific repo's.   
  The processig environment where the data will be pulled in to is Python, but other programs such as R and Matlab
  can use of the same technology.
</p>
