
<p>
  Data reuse saves time and accelerates the pace of scientific discovery. By making your data open and available to others, 
  you make it possible for future researchers to answer questions that haven’t yet been asked. 
  But <strong>how do you actually reuse the data that you put in repositories?</strong> 
  <br>
  This is a 4 hour workshop designed for scientists to learn the basics on data reuse with ERDDAP and APIs. 
  The processig environment where the data will be pulled in to is Python, but other programs such as R and Matlab
  can use of the same technology.
</p>
